"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Ben Karel"
email = "ben@eschew.org"

[ui]
pager = ":builtin"
editor = "vim"

[merge-tools.meld]
edit-args = ["--auto-compare", "--newtab", "$left", "$right"]

[git]
auto-local-bookmark = true
colocate = false
private-commits = "description(glob:'wip:*') | description(glob:'private:*')"

# https://gist.github.com/thoughtpolice/8f2fd36ae17cd11b8e7bd93a70e31ad6#file-jjconfig-toml
[revset-aliases]
'mut_wip()' = '(description(glob:"wip:*") | description(glob:"private:*")) & mutable()'
'cur_wip()' = 'mut_wip() & ancestors(reachable(@, mutable()), 1)'
'closest_pushable(to)' = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

# https://andre.arko.net/2025/09/28/stupid-jj-tricks/
[aliases]
tug = ['bookmark', 'move', '--from', "heads(::@ & bookmarks())", '--to', "closest_pushable(@)"]

# https://oppi.li/posts/configuring_jujutsu/
[templates]
log = '''
  if(root,
    format_root_commit(self),
    label(if(current_working_copy, "working_copy"),
      concat(
        separate(" ",
          format_short_change_id_with_hidden_and_divergent_info(self),
          if(empty, label("empty", "(empty)")),
          bookmarks,
          tags,
          if(git_head, label("git_head", "HEAD")),
          if(description,
            description.first_line(),
            label(if(empty, "empty"), description_placeholder),
          ),
          working_copies,
          if(conflict, label("conflict", "conflict")),
          if(config("ui.show-cryptographic-signatures").as_boolean(),
            format_short_cryptographic_signature(signature)),
        ) ++ "\n",
      ),
    )
  )
'''

log_node = '''
  label("node",
    coalesce(
      if(!self, label("elided", "~")),
      if(current_working_copy, label("working_copy", "@")),
      if(conflict, label("conflict", "×")),
      if(immutable, label("immutable", "◆")),
      if(description.starts_with("wip: "), label("wip", "!")),
      if(description.starts_with("private: "), label("wip", "!")),
      label("normal", "·")
    )
  )
'''

draft_commit_description ='''
    concat(
      coalesce(description, default_commit_description, "\n"),
      surround(
        "\nJJ: This commit contains the following changes:\n", "",
        indent("JJ:     ", diff.stat(72)),
      ),
      "\nJJ: ignore-rest\n",
      diff.git(),
    )
'''

[colors]

"node wip" = { bg = "yellow", fg = "red", bold = true }
